/*
Color #2baadf for the line on the left and hyperlinks
Color #cccccc for article dates
Color #444444 for article text
Font family Lato (search in Google fonts)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444444;
  background-color: #fff;
  font-size: 18px;
}

.container {
  width: 750px;
  margin: 0 auto;
  padding-left: 45px;
  border-left: 5px solid #2baadf;
}

h1 {
  font-weight: 100;
  margin-bottom: 4px;
  padding-top: 24px;
}

h2 {
font-size: 25px;
line-height: 1.4;
}

header h2 {
  margin-bottom: 8px;
}

header nav {
  margin-bottom: 32px;
  width: 45ch;
  line-height: 1.45;
}

header a {
 margin-right: 8px;
}

article {
  margin-bottom: 48px;
}

.article-border {
  border-bottom: 1px solid #adb5bd;
  width: 450px;
}

a:link, a:visited {
  color: #2baadf;
  text-decoration: none;
}

a:hover, a:active {
  color: #1c7ed6;
}

.date {
  color: #cccccc;
  margin-bottom: 4px;
}

.read-more {
  font-weight:700;
  margin: 0 240px 32px 0;
  display: flex;
  justify-content: flex-end;
}

article h2 {
  width: 30ch;
  margin-bottom: 16px;
}

.img-big {
  display: inline-block;
  margin-bottom: 24px;
}

.p-long {
  width: 48ch;
  line-height: 1.5;
  margin-bottom: 16px;
}

footer {
  padding-bottom: 32px;
}

footer nav {
  width: 45ch;
  line-height: 1.45;
}

footer a {
  margin-right: 8px;
}

.copyright {
  margin-top: 4px;
  color: #adb5bd;
}

.flex-section {
  display: flex;
  width: 440px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 12px;
}

.flex-card {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.064);
}

.flex-card h3{
color: #1c7ed6;
font-weight: 400;
font-size: 7px;
text-transform: uppercase;
margin-bottom: 3px;
width: 20ch;
}

.flex-card h4{
color: #212529;
font-weight: 600;
font-size: 8px;
width: 17ch;
}

.flex-card img {
  width: 70px;
  height: 70px;
}

.price {
  font-weight: 400;
}

.buy-btn {
  color: #fff;
  background-color: #1c7ed6;
  border-radius: 20px;
  border: none;
  /* width: 60px; */
  padding: 2px 8px;
}

